.credits a{
  color:#CF0015;
}

.left
{
  margin-top: 75px;
  margin-left: 50px;
  float: left;
  width:45%;
}

.left h1, .left h2, .left a{
  margin-bottom: 10px;
  text-decoration: none;
}

.left a:hover {
  color: #C5A173;
}

.right
{
  margin-top: 75px;
  margin-left: 10px;
  margin-right: 45px;
  margin-bottom: 30px;
  float: right;
  width: 40%;
}

.singular{
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.pageTitle{
  margin-top: 75px;
  margin-left: 50px;
}
.pageTitle h1{
  margin-bottom: 10px;
}

.rectangleBackground{
  margin: 0 auto;
  display: inline-block;
  max-width: 250px;
  max-height: 395px;
  position: relative;
  color: black;
  text-align: left;
}

.squareBackground{
  margin: 20px auto;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  max-width: 250px;
  max-height: 261;
  position: relative;
  color: black;
  text-align: left;
}

.imageText{
  width: 205px;
  font-size: 10px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imageText h1{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.activity{
  border-radius: 25px 0px 0px 0px;
  border: 2px solid #C5A173;
  padding: 20px;
  width: 200px;
  height: 300px;
  position: relative;
  margin-right: 50px;
}

.driverBlurb{
  font-size: 10px;
  font-weight: 400;
  z-index: 150;
}

.deliveryText{
  margin-top: 5px;
  margin-bottom: 3px;
}

.deliveryDirection{
  text-align: left;
  font-size: 15px;
}

.deliveryName{
  margin-top: 5px;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
}

.deliveryInfo {
  text-align: left;
  font-size: 12px;
}

.mapBox{
  border-radius: 25px;
  border: 2px solid #C5A173;
  width: 315px;
  height: 375px;
  float:left;
}

.profile{
  float: left;
  margin: 20px 20px 20px 0px;
  text-align: left;
}

.profile p{
  font-size: 11px;
}

.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; !important
        height: 100%; !important
    }

    .mapBox iframe{
      border-radius: 25px;
    }

    @media (max-width: 600px){
      .left, .pageTitle{
        width:auto;
        margin-top: 50px;
        margin-right: 50px;
      }

      .left h1{
        font-size: 25px;
      }
    }
